<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.flutter_firebase">
    <!-- Flutter needs it to communicate with the running application
         to allow setting breakpoints, to provide hot reload, etc.
    -->
    <uses-permission android:name="android.permission.INTERNET"/>
    <!-- 端末が起動されたときに通知を受ける権限を要求する -->
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>

    <meta-data
    android:name="com.google.firebase.messaging.default_notification_channel_id"
    android:value="@string/default_notification_channel_id" />

</manifest>
